<div class = "centered" > 
  <div class="row">
    <div class = "box" > <p class = "xo-element">&nbsp; </p></div>
    <div class = "box" > <p class = "xo-element">&nbsp; </p></div>
    <div class = "box" > <p class = "xo-element">&nbsp; </p></div>
  </div>

  <div class="row">
    <div class = "box" > <p class = "xo-element">&nbsp; </p></div>
    <div class = "box" > <p class = "xo-element">&nbsp; </p></div>
    <div class = "box" > <p class = "xo-element">&nbsp; </p></div>
  </div>
  
  <div class="row">
    <div class = "box" > <p class = "xo-element">X </p></div>
    <div class = "box" > <p class = "xo-element">&nbsp; </p></div>
    <div class = "box" > <p class = "xo-element">&nbsp; </p></div>
  </div>
  
</div>